# question 1

In [19]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df= pd.DataFrame(exam_data,columns=['name','score','attempts','qualify'])
print(df)
n=3
top_3= df.head(n)
print(top_3)
df_2=df.dropna()
df_2=df.reset_index(drop=True)
print(df_2)
N_S=df_2.iloc[:, 0:2]
print(N_S)
new_player={"name":"suresh","score":15.5,"attempts":1,"qualify":"yes"}
print(new_player)
df.append(new_player,ignore_index=True)
df_3=df.drop("attempts",axis=1)
print(df_3)
success=[]
for x in exam_data['score']: 
    if x>10:
        success.append(1)
    else: success.append(0)
print(success)
df["success"]=success
print(df)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
        name  score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.5
3      James    NaN
4      Emily    9.0
5    Michael   20.0
6    Matthew   14.5
7      Laura    NaN
8      Kevin    8.0
9      Jonas   19.0
{'name': 'suresh', 'score': 15.5, 'attempts': 1, 'qualify': 'yes'}
        name  score qualify
0  Anastasia   12.5     yes
1       Dima    9.0      no
2  Katherine   16.5     yes
3      James    NaN      no
4      Emily    9.0      no
5    Michael   20.0     yes
6    Matthew   14.5     yes
7      Laura    NaN      no
8      Kevin    8.0      no
9      Jonas   19.0     yes
[1, 0, 1, 0, 0, 1, 1, 0, 0, 1]
        name  score  attempts qualify  success
0  Anastasia   12.5         1     yes        1
1       Dima    9.0         3      no        0
2  Katherine   16.5         2     yes        1
3      James    NaN         3      no        0
4      Emily    9.0         2      no        0
5    Michael   20.0         3     yes        1
6    Matthew   14.5         1     yes        1
7      Laura    NaN         1      no        0
8      Kevin    8.0         2      no        0
9      Jonas   19.0         1     yes        1